<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lista de clientes</title>
</head>

<body>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Primer Apellido</th>
				<th>Segundo Apellido</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${clienteEncontrado}">
				<td><span th:text="${clienteEncontrado.nombre}"></span>
				<td><span th:text="${clienteEncontrado.primerApellido}"></span></td>
				<td><span th:text="${clienteEncontrado.segundoApellido}"></span></td>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>